body {
    /* height: 2000px; */
    /* min-height: -webkit-fill-available; */
    /* background: linear-gradient(180deg, #78bef2, #1e5f90) !important; */
    background-color: #78bef2;
    -webkit-animation: colorchange 20s infinite;
    animation: colorchange 20s infinite;
}

html {
    height: -webkit-fill-available;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), 0.85);
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea {
    overflow-y: auto;
}
/* SIDEBAR */
.sidebar-materi {
    width: 22vw;
    height: 100%;
    overflow-x: hidden;
    box-shadow: -1px 0px 15px 0px black;
}
/* Active li Sidebar */
.active-sidebar {
    border: 1.8px solid #1cb0f6;
    background-color: #ddf4ff;
    color: #1cb0f6 !important;
}
/* MATERI | Main Content */
.main-content {
    margin-left: 22vw;
}
@-webkit-keyframes colorchange {
    0% {
        background: #8ebf42;
    }
    25% {
        background: #e6ebef;
    }
    50% {
        background: #1c87c9;
    }
    75% {
        background: #095484;
    }
    100% {
        background: #d0e2bc;
    }
}
@keyframes colorchange {
    0% {
        background: #b5eff2;
    }
    25% {
        background: #e6ebef;
    }
    50% {
        background: #1c87c9;
    }
    75% {
        background: #095484;
    }
    100% {
        background: #b5eff2;
    }
}
#hamburger-menu {
    display: none !important;
}
.absolute-nav {
    right: -100%;
}
/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}
/* Mobile */
@media (max-width: 728px) {
    html {
        font-size: 55%;
    }
    .latihan-container {
        margin-bottom: 2rem;
    }
    .tajwid-ilmu-card {
        margin-bottom: 2rem;
    }
    .sidebar-materi {
        height: auto;
        width: 100vw;
        overflow: auto;
        z-index: 9999;
        flex-direction: row !important;
        top: 0;
        left: 0;
        right: 0;
        overflow-x: hidden !important;
    }
    .main-content {
        margin-left: 0;
        position: relative;
        top: 7vh;
    }
    .navbar-nav {
        position: absolute;
        z-index: 99999;
        top: 100%;
        right: -100%;
        background-color: #ffffff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .sound-body {
        display: none !important;
    }
    .dropup {
        display: none !important;
    }
    .img-learn-materi {
        width: 250px;
    }
    #hamburger-menu {
        display: inline-block !important;
    }
    .absolute-nav-active {
        right: 0;
    }
    .absolute-nav {
        display: block;
        position: absolute;
        padding: 1rem;
        z-index: 999;
        top: 0%;
        background-color: #ffffff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .list-side-nav {
        position: relative;
        top: 6vh;
    }
    .sound-body.sound-body-active {
        display: block !important ;
    }
    .sound-body.sound-body-active .player {
        width: auto;
    }
    .dropup-active {
        display: block !important ;
    }
    .info2 {
        font-size: 1.4rem !important;
    }
    .image-learn {
        width: 75%;
    }
}
