* {
    font-family: "Poppins", sans-serif;
}
.lucky-font {
    font-family: "Luckiest Guy", cursive;
}
.nabla-font {
    font-family: "Nabla", cursive;
}
.chewy-font {
    font-family: "Chewy", cursive;
}
.jockey-font {
    /* color: #ff8a00; */
    color: black;
    letter-spacing: 3px;
    font-family: "Jockey One", sans-serif;
}
.jf-shadow {
    color: #78bef2;
    text-shadow: 0 0 18px black;
}
.odibee-font {
    font-family: "Odibee Sans", cursive;
}
.bg-button-primary {
    background-color: #ff8a00;
    color: #fff6e4;
}
.bg-button-secondary {
    background-color: #fff6e4;
    color: #ff8a00;
}

.text-button-primary {
    color: #fff6e4;
}
.text-button-secondary {
    color: #ff8a00;
}
.cover-bg {
    height: 92vh;
    background-color: #78bef2;
}
.bg-cover {
    height: 92vh;
    background: url("../img/bg_sibeta.jpg");
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}
.active-nav {
    text-decoration: underline;
    color: #ff8a00 !important;
}
/* Apa Itu SIBETA */
.row {
    margin-left: 0;
    margin-right: 0;
}
.desc-container p {
    font-size: 1rem;
}
.desc-image {
    text-align-last: right;
    place-self: center;
}
nav {
    box-shadow: 0px 0px 10px 0px black !important;
}
/* End */

/* Card Materi */
.card-materi {
    /* background-color: #fff6e4; */
}
.card-materi-body {
    /* transition: 1s; */
    background-color: white;
    box-shadow: 0px 4px 0px #5f4110;
}
.card-materi-body:hover {
    color: white;
    /* transform: translate(0px, 4px); */
    /* box-shadow: none; */
}
.materi-success {
    background-color: #00d26a;
}
.materi-success:hover {
    background-color: #00d26a !important;
}
